body {
  background: white;
}

.card {
  border: 2px solid gold;
  border-radius: 15px;
  padding: 8px 14px;
}

/* when a .card is preceded by
   a .card, give it a margin-top
*/
.card + .card {
  margin-top: 50px;
}

.greet {
  color: #777;
}

.greet.differentGreeting {
  color: fuchsia;
}

.greet h1 {
  font-family: Arial, Helvetica, sans-serif;
}